.env
users.yaml
.cache
*.png
*.gif
.vscode
*.pdf
!derivations/*.pdf
!additional_results/*.png
*.npy
*.pkl
*.ttf

# Ignore everything in the output directory
output/*

# Ignore wandb outputs
wandb/

# But not this file
!output/README.md