.env
users.yaml
.cache
*.png
*.gif
.vscode
*.pdf
!derivations/*.pdf
*.npy
*.pkl

# Ignore everything in the output directory
output/*

# Ignore wandb outputs
wandb/

# But not this file
!output/README.md